<div class="jumbotron">
  <h1>欢迎来到 Stone</h1>
  <p>Stone 是一个基于 Node.js 的系统。</p>
  <p>
    <%if(!user){%>
      <a class="btn btn-primary btn-lg" href="/login">登录</a>
      <a class="btn btn-default btn-lg" href="/reg">立即注册</a>
    <%}%>
  </p>
</div>

